@import '../variables';

.sort {
  margin-left: 20px;
  position: relative;

  @media (max-width: 768px) {
    margin-left: 0;
  }

  &__label {
    display: flex;
    align-items: center;
    white-space: nowrap;

    @media (max-width: 360px) {
      display: flex;
      flex-direction: column;
    }

    svg {
      margin-right: 8px;
      transform: rotate(180deg) translateY(2px);

      &.rotated {
        transform: rotate(0deg) translateY(-2px);
      }
    }

    b {
      margin-right: 8px;
    }

    &-text {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;

      @media (max-width: 360px) {
        margin-top: 5px;
      }
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    width: 205px;

    @media (max-width: 360px) {
      right: auto;
    }

    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
