html
	box-sizing: border-box
	overflow-x: hidden

*, *:before, *:after
	box-sizing: inherit

*
	-webkit-tap-highlight-color: transparent
	&:focus, &:active
		outline: none

body
	font-family: $default-font
	font-weight: 400
	font-size: 16px
	line-height: 19px
	color: $text
	min-width: 320px
	overflow-x: hidden

h1, p
	margin: 0
	padding: 0

a
	display: inline-block
	text-decoration: none
	color: inherit

ul, li
	margin: 0
	padding: 0
	list-style: none

button
	border: none
	background-color: transparent
	cursor: pointer
	color: inherit

.container
	max-width: 1220px
	margin: 0 auto
	padding: 0 10px