@import "fonts"
@import "vars"
@import "libs"
@import "global"

.header
	background-image: url(../img/header-bg.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	&__inner, &__top
		display: flex
		justify-content: space-between
	&__inner
		flex-direction: column
		min-height: 100vh
	&__top
		align-items: center
		padding: 75px 0 30px
	&__content
		max-width: 600px
	&__title
		font-family: $additional-font
		font-size: 60px
		line-height: 60px
		font-weight: 400
		margin-bottom: 20px
		span
			font-size: 110px
	&__text
		font-size: 24px
		line-height: 29px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-bottom: 50px
	&__btn
		font-size: 24px
		line-height: 29px
		text-transform: uppercase
		text-align: center
		width: 100%
		border: 1px solid #fff
		padding: 15px 10px
	&__description
		display: flex
		justify-content: flex-end
		margin: 40px 0 5%
		&-text
			width: 165px
			font-size: 14px
			line-height: 17px
			& + .header__description-text
				margin-left: 52px

.menu
	&__list
		display: flex
	&__item
		& + .menu__item
			margin-left: 30px
	&__link
		text-transform: uppercase
		font-size: 18px
		line-height: 21px
		white-space: nowrap
		transition: all .3s ease
		&:hover
			color: #CB0E0E
		&:active
			color: darken(#CB0E0E, 15%)

.phone
	font-size: 24px
	line-height: 29px
	margin-left: auto

.login
	margin-left: 22px
	margin-right: 134px

.about
	background-image: url(../img/about-bg.jpg)
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	&__item
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		padding-bottom: 150px
		&:nth-child(odd)
			flex-direction: row-reverse
	&__photo
		position: relative
	&__decoration
		border: 3px solid #fff
		position: absolute
		width: 100%
		height: 100%
		top: -25px
		left: -25px
		right: auto
		border-radius: 20px 0 20px 0
	&__img
		max-width: 100%
		height: 100%
		object-fit: cover
		position: relative
	&__content
		max-width: 600px
		&-title
			font-size: 30px
			line-height: 36px
			font-weight: 700
			margin-bottom: 5px
		&-subtitle
			font-size: 12px
			line-height: 14px
			font-weight: 400
			margin-bottom: 30px
			color: #306cca
			text-transform: uppercase
		&-text
			display: flex
			justify-content: space-between
			margin-bottom: 50px
			p
				width: 165px
	&__table
		margin-bottom: 50px
		border-bottom: 1px solid #fff
		&-row
			&:before
				content: ''
				width: 600px
				height: 1px
				background-color: #fff
				position: absolute
			& + .about__table-row
				font-size: 36px
				line-height: 43px
				font-weight: bold
		&-cell
			padding: 10px 15px
			white-space: nowrap
			text-align: center
			span
				font-size: 14px
				line-height: 17px
				display: block
		&-caption
			caption-side: bottom
			text-align: left
			margin-top: 20px
			font-size: 12px
			line-height: 14px

.process
	background-image: url(../img/process-bg.jpg)
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 100px
	&__inner
		text-align: center
		circle, text, foreignObject
			transition: all .2s
			cursor: pointer
			font-size: 18px
		foreignObject
			text-align: left
		g:hover
			circle
				fill: #036CCA
				r: 20px
			text
				fill: #036CCA
				font-size: 22px
			foreignObject
				color: #036CCA
				font-size: 22px
				line-height: 23px

.book
	background-image: url(../img/book-bg.jpg)
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	min-height: 100vh
	&__inner
		display: flex
		justify-content: space-between
	&__text
		width: 165px
		font-size: 14px
		line-height: 17px
		margin: 100px 52px 0 auto
		& + .book__text
			margin: 100px 0 0

.info
	background-image: url(../img/info-bg.jpg)
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	padding-bottom: 100px

.offer
	&__inner
		display: flex
		justify-content: space-between
	&__item
		width: 500px
		&-box
			padding: 40px 75px
			text-align: center
			border: 1px solid #fff
			min-height: 400px
			display: flex
			flex-direction: column
			justify-content: space-between
			margin-bottom: 25px
			border-radius: 20px 0 20px 0
		&-text
			font-size: 24px
			line-height: 29px
			width: 236px
			margin: 0 auto
			span
				color: #CB0E0E
				font-size: 24px
				line-height: 29px
		&-price
			&--old
				text-align: right
				font-size: 14px
				line-height: 17px
				margin-bottom: 16px
				position: relative
				&:before
					content: ''
					width: 68px
					height: 2px
					position: absolute
					top: 8px
					right: 0
					transform: rotate(17deg)
					background-color: #CB0E0E
			&--new
				font-size: 48px
				line-height: 57px
	&__btn
		width: 100%

.services
	padding-bottom: 200px
	&__inner
		display: flex
		justify-content: space-between
	&__content
		width: 620px
		margin-right: 80px
		font-size: 24px
		line-height: 29px
	&__title, &__list
		margin-bottom: 25px
	&__list-item
		padding-left: 36px
		position: relative
		&:before
			content: ''
			position: absolute
			width: 20px
			height: 20px
			background-color: #fff
			border-radius: 50%
			left: 0
			top: 5px
	&__description
		font-size: 12px
		line-height: 14px
	&__buttons
		width: 500px
		position: relative
		&:before
			content: ''
			position: absolute
			right: 0
			bottom: 159px
			background-image: url(../img/photo.png)
			width: 192px
			height: 150px
			z-index: 10
	&__btn
		width: 100%
		& + .services__btn
			margin-top: 50px

.slider
	text-align: center
	&__inner
		margin-bottom: 50px
		border: 1px solid #fff
		padding: 100px 0
		border-radius: 25px 0 25px 0
	&__description
		font-family: $additional-font
		font-size: 24px
		line-height: 30px
	&__box-img
		width: 800px
		height: 533px
		object-fit: cover
		margin: auto
	&__arrow
		cursor: pointer
		position: absolute
		top: 50%
		z-index: 5
		padding: 15px
		transition: all .3s ease
		&:active
			opacity: .3
		&-left
			left: 45px
			&:hover
				left: 35px
		&-right
			right: 45px
			&:hover
				right: 35px

.contacts
	background-color: #010203
	padding-bottom: 100px
	&__inner
		display: flex
		justify-content: space-between
	&__box
		width: 500px
		&-text
			font-size: 24px
			line-height: 29px
			margin-bottom: 80px
	&__title
		padding-bottom: 46px
	&__form-input
		background-color: #010203
		border: none
		border-bottom: 1px solid #fff
		margin-bottom: 30px
		color: #fff
		font-family: $default-font
		font-size: 14px
		line-height: 17px
		padding: 20px 0
		width: 100%
		transition: all 0.3s ease
		&:hover, &:focus
			border-bottom-color: #036CCA
		&::placeholder
			color: #fff
			font-family: $default-font
			font-size: 14px
			line-height: 17px
			opacity: .6
	&__btn
		margin-top: 70px
		width: 100%
	&__guarantees
		width: 500px
		&-text
			font-size: 24px
			line-height: 29px
			margin-bottom: 15px
		&-img
			display: flex
			margin-left: auto

.footer
	background-image: url(../img/footer-bg.jpg)
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	padding: 100px 0 150px
	&__inner
		display: flex
		justify-content: flex-end
	&__text
		width: 165px
		margin-right: 50px
		p + p
			margin-top: 50px
	&__menu, &__links
		&-link
			text-transform: uppercase
			transition: all .3s ease
			&:hover
				color: #CB0E0E
			&:active
				color: darken(#CB0E0E, 15%)
		li + li
			margin-top: 20px
	&__menu
		width: 120px
		margin-right: 95px
	&__links
		width: 165px

@import "media"