@inherits ReactiveComponentBase<TelmaComponent>

<Section Title="Grid">
    <SectionButton CanPush="true" Title="Axis on/off" Image="img/buttons/view/Axis.svg" Text="Axis" Text2="on/off" />
    <SectionButton Title="Grid full" Image="img/buttons/view/GMFull.svg" Text="Full" />
    <SectionButton Title="Grid main" Image="img/buttons/view/GMMain.svg" Text="Main" />
    <SectionButton Title="Grid none" Image="img/buttons/view/GMNone.svg" Text="None" />
    <SectionButton Title="Grid zero" Image="img/buttons/view/GMZero.svg" Text="Zero" />
</Section>
