@inherits ReactiveComponentBase<TelmaComponent>

<Section Title="Menu">
    <SectionButton Title="New file (Ctrl + N)" Image="img/buttons/menu/New.svg" Text="New" Text2="file" />
    <SectionButton Title="Open file (Ctrl + O)" Image="img/buttons/menu/Import.svg" Text="Open" Text2="file" />
    <SectionButton Title="Save file (Ctrl + S)" Image="img/buttons/menu/Save.svg" Text="Save" Text2="file" />
    <SectionButton Title="Save file as ..." Image="img/buttons/menu/SaveAs.svg" Text="Save" Text2="file as" />
    <SectionButton Title="Print (Ctrl + P)" Image="img/buttons/menu/Print.svg" Text="Print" />
</Section>
