// main: ../style.less

.contact {
	display: flex;
}

.contact__left {
	width: 100%;
	padding: 45px 30px 30px;

	.modal__title {
		margin-left: -3px;
	}
}

.contact__info {
	margin: 30px 0 45px;
	padding: 0;
	list-style: none;
	font-size: .94rem;
	color: @black;
	font-weight: 300;
}

.contact__info-item {
	display: flex;
	align-items: center;
	margin-bottom: 11px;

	&:last-child {
		margin-bottom: 0;
	}
}

.contact__info-icon {
	margin-right: 11px;
	margin-left: 3px;
}