// main: ../style.less

.modal {
	display: none;
	width: 100%;
	height: 100%;
	padding: 30px;
	overflow: auto;
	background-color: @overlay;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;

	&.show {
		display: flex;
	}
}

.modal__dialog {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	position: relative;
	background-color: @white;
	transform: scale(0);
	transition: all .3s ease;

	&--sm {
		max-width: 500px;
	}

	&--article {
		max-width: 1000px;
	}
}

.modal__close {
	cursor: pointer;
	font-size: 1.8rem;
	padding: 0;
	background: none;
	border: 0;
	position: absolute;
	top: 14px;
	right: 18px;
	z-index: 1;
	transition: all .3s ease;

	&:hover {
		transform: scale(1.2);
	}

	&:focus, &:active {
		outline: none;
	}
}

.modal__content {
	padding: 75px 15px;
}

.modal__title {
	margin-bottom: 54px;
	font-size: 3rem;
	text-transform: uppercase;
	color: @black;
	font-weight: 700;

	@media @mobile-sm {
		font-size: 2.5rem;

		&--contact {
			font-size: 1.75rem;
			margin-bottom: 8px !important;
		}
	}
}

.modal__subtitle {
	text-transform: uppercase;
	font-size: 1.06rem;
	color: @black;
	font-weight: 400;

	@media @mobile-sm {
		&--contact {
			font-size: 1rem;
		}
	}
}