// main: ../style.less

.modal-work {
	display: flex;
}

.modal-work__preview {
	width: 65%;
	position: relative;
	overflow: hidden;

	@media @notebook {
		display: none;
	}
}

.modal-work__photo {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.modal-work__content {
	text-align: justify;
	width: 35%;
	padding: 45px 26px 15px;
	position: relative;

	@media @notebook {
		width: 100%;
	}
}

.modal-work__header {
	margin-bottom: 33px;
}

.modal-work__title {
	margin-bottom: 3px;
	font-size: 2.12rem;
	color: @black;
	font-weight: 700;
	text-transform: uppercase;
}

.modal-work__info {
	font-size: 1.2rem;
	color: @gray;
	text-transform: uppercase;

	@media @mobile-sm {
		margin-top: 12px;
	}
}

.modal-work__info-divider {
	margin: 0 15px;

	@media @mobile-sm {
		display: none;
	}
}

.modal-work__date {
	@media @mobile-sm {
		display: block;
		margin-top: 12px;
	}
}

.modal-work__client, .modal-work__demo {
	margin-bottom: 33px;
}

.modal-work__client-title, .modal-work__demo-title {
	margin-bottom: 3px;
	font-size: 1.06rem;
	color: @black;
	font-weight: 700;
}

.modal-work__client-company {
	font-size: .94rem;
	font-style: italic;
	color: @gray;
}

.modal-work__client-company, .modal-work__demo-link {
	a {
		font-size: .94rem;
		font-style: italic;
		color: @gray;
		position: relative;

		&:after {
			content: '';
			width: 0;
			height: 2px;
			background-color: @gray-light;
			position: absolute;
			bottom: -3px;
			left: 0;
			z-index: 1;
			transition: all .3s ease;
		}

		&:hover:after {
			width: 100%;
		}
	}
}

.modal-work__text {
	margin-bottom: 130px;
	font-size: 1rem;
	line-height: 2;
	color: @gray;
	font-weight: 300;

	@media @notebook {
		margin-bottom: 0;
	}
}

.modal-work__footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 27px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.modal-work__btn {
	padding: 0;
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 1.8rem;
	color: @black;
	text-transform: uppercase;
	transition: all .3s ease;

	&:focus, &:active {
		outline: none;
	}

	&:hover {
		transform: scale(1.2);
	}

	@media @notebook {
		display: none;
	}
}

#modal_project_1, #modal_project_2 {
	.slick-dots {
		.slick-active button {
			background-color: @black;
		}

		button {
			border: 1px solid @black;
		}
	}
}