// main: ../style.less

.portfolio {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 42px;

	@media @tablet {
		justify-content: center;
	}
}

.portfolio__col {
	flex-basis: 33.33333%;
	padding: 15px;

	@media @tablet {
		flex-basis: 50%;
		max-width: 370px;
	}

	@media @mobile {
		flex-basis: 100%;
	}
}