// main: ../style.less

.works {
	margin: 42px 0;
}

.works__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 21px;
}

.works__nav-link {
	margin: 0 18px;
	font-size: .8rem;
	color: fade(@black, 70%);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}