// main: ../style.less

.works {
    margin: 2.8rem 0;
}

.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.works__nav-link {
    margin: 0 1.2rem;

    font-size: .8rem;
    color: fade(@black, 70%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
