
[Dd]ebug
[Dd]ebugConsole
[Tt]est[Rr]esults
[Rr]eleaseConsole
/TEMP
[Rr]elease
/ipch
*.opensdf
*.sdf
*.suo
*.hps
*.hvs
bin/
obj/
.vs
node_modules/

# NuGet Packages Directory
packages/
## TODO: If the tool you use requires repositories.config uncomment the next line
#!packages/repositories.config
/Projects/Interfaces/BaseInterface/Properties/AssemblyInfo.cs
/Projects/Interfaces/Telprep3D/Properties/AssemblyInfo.cs
*.user
*.aps
*.vspx
*.diagsession
*.opendb
/*.dll
*.wbk
*.db
*.cso
/x64
/Projects/Telma/Properties/launchSettings.json
/Projects/Test/junit-report.xml
*.bak
/Labversion
/~$ToDo.docx
