// compress: true
@import "vars";

html {
	font-size: 15px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: transparent;
	
	&:focus, &:active {
		outline: none;
	}
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: @black;

	&.no-scroll {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 15px;
}


/* Vendor */
@import "vendor/slick";


/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/user";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/works";
@import "blocks/work";
@import "blocks/portfolio";
@import "blocks/about";
@import "blocks/news";
@import "blocks/articles";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/modal-work";
@import "blocks/timeline";
@import "blocks/progress-bar";
@import "blocks/contact";
@import "blocks/form";
@import "blocks/burger";
@import "blocks/preloader";
@import "blocks/top";


/* Helpers */
@import "helpers";