html
	box-sizing: border-box
	height: 100%
	width: 100%

*, *:before, *:after
	box-sizing: inherit

*
	-webkit-tap-highlight-color: transparent
	&:focus, &:active
		outline: none

body
	font-family: $default-font
	font-weight: 400
	font-size: 16px
	line-height: 24px
	color: $text
	height: 100%
	&.no-scroll
		overflow-y: hidden

a
	display: inline-block
	text-decoration: none
	color: inherit

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

img
	max-width: 100%
	height: auto
	display: block

ul, li
	margin: 0
	padding: 0
	list-style: none

form
	display: inline

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]
	-moz-appearance: textfield

.main 
	position: relative

.container
	max-width: 1920px
	margin: 0 auto
	height: 100%
	display: flex
	flex-direction: column
	transition: all .2s linear
	position: relative
	&.blur
		filter: blur(20px)
		pointer-events: none
		user-select: none

.popup
	position: fixed
	top: 40%
	left: 50%
	transform: translate(-50%, -50%)
	width: 500px
	visibility: hidden
	opacity: 0
	transition: .5s
	box-shadow: 0 5px 30px rgba(#000, .4)
	&__content
		padding: 50px 40px 35px
		background-color: #fff
		&.hide
			opacity: 0
			visibility: hidden
			height: 0
			padding: 0
	&__title 
		text-transform: uppercase
		font-weight: 700
		&.title
			margin-bottom: 20px
	&__subtitle 
		text-transform: uppercase
		font-size: 22px
		font-weight: 500
		margin-bottom: 20px
	&-text
		font-size: 34px
		line-height: 43px
		margin-bottom: 20px
	&.active
		visibility: visible
		opacity: 1
		top: 50%
	&.none
		display: none

.popup-preloader
	justify-content: center
	align-items: center
	background-color: #fff
	height: 300px
	display: none
	&.active
		display: flex

.confirm-text
	background-color: #fff
	font-size: 34px
	line-height: 43px
	padding: 30px
	text-align: center
	display: none

.popup-add-news, .popup-change
	.form
		&__group
			margin-bottom: 20px
		&__input
			padding: 12px
		&__textarea
			height: 130px
			padding: 12px

.close
	cursor: pointer
	font-size: 28px
	padding: 0
	background: none
	border: 0
	position: absolute
	top: 6px
	right: 15px
	transition: all .3s ease
	&:hover 
		transform: scale(1.15)

.form
	&__group
		margin-bottom: 27px
	&__label
		display: inline-block
		margin-bottom: 9px
		font-size: 18px
		font-weight: 500
	&__input, &__textarea 
		display: block
		width: 100%
		padding: 15px
		border: 1px solid rgba(#707070, .3)
		border-radius: 10px
		line-height: 1.4
		transition: all .2s ease
		&:focus, &:active
			border-color: $accent
	&__textarea
		height: 200px
		resize: none
	&__footer
		display: flex
		justify-content: space-between
		align-items: center
		a
			position: relative
			&:after
				content: ''
				width: 0
				height: 2px
				background-color: $text
				position: absolute
				bottom: -2px
				left: 0
				transition: all .4s ease
			&:hover:after
				width: 100%

.tab-form
	display: none
	&.active
		display: block

.tabs
	display: flex

.tab
	font-weight: 500
	padding: 15px
	display: inline-block
	background-color: lighten($accent, 10%)
	color: #fff
	width: 50%
	text-align: center
	transition: all .2s ease
	margin-top: -1px
	&:not(.active):hover
		box-shadow: 0 -4px rgba(#000, .4) inset
		cursor: pointer
	&.active
		background-color: #fff
		color: $text

.wrapper
	max-width: 1290px
	padding: 0 15px
	margin: 0 auto

.title
	font-weight: 500
	font-size: 35px
	line-height: 42px
	padding-right: 15px
	margin-bottom: 40px

.btn
	background-color: $accent
	color: #fff
	border: 0
	padding: 15px 39px
	font-weight: 700
	font-size: 24px
	line-height: 29px
	transition: all .3s ease
	cursor: pointer
	border-radius: 5px
	display: inline-block
	user-select: none
	&:hover, &:focus
		background-color: lighten($accent, 10%)
	&--md
		padding: 10px
		font-size: 20px
		line-height: 25px
		font-weight: 500
	&--sm
		padding: 12px 19px
		font-size: 16px
		line-height: 19px
		font-weight: 400
	&--remove
		min-width: 85px
	&--no, & + .btn
		margin-left: 10px

.error
	border: 2px solid #ffc341
	background-color: #ffda8a
	padding: 10px
	border-radius: 5px
	display: inline-block
	position: fixed
	top: 10px
	left: 10px
	z-index: 30