@media (max-width: 1400px)
	.footer
		display: block
		position: relative
		&-social, &-nav
			position: absolute
			right: 20px
		&-social
			top: 15px
		&-nav
			bottom: 15px

@media (max-width: 1150px)
	.news
		&__title
			padding-right: 0
		&-items
			max-width: 900px
			margin: 0 auto
		&-item
			grid-column: span 3

	.article, .news
		padding-top: 30px
	
	.article__img
		img
			height: 600px

	.title
		margin-bottom: 30px

@media (max-width: 1000px)
	.article__img
		width: 100%

@media (max-width: 800px)
	.header__burger
		display: flex

	.header-nav
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $overlay
		z-index: 20
		padding: 75px
		transform: translateX(-100%)
		transition: all .5s ease
		&__close
			width: 40px
			height: 40px
			z-index: 11
			position: absolute
			top: 20px
			right: 20px
			cursor: pointer
			&-line
				display: block
				height: 2px
				width: 100%
				background-color: #fff
				position: absolute
				top: 50%
				&:first-child
					transform: translateY(-50%) rotate(45deg)
				&:last-child
					transform: translateY(-50%) rotate(-45deg)
		&.active
			transform: translateX(0)
		li
			width: 100%
			& + li
				margin-left: 0
				margin-top: 25px
		a
			font-size: 32px
			line-height: 35px

	.news
		&-items
			max-width: 400px
		&-item
			grid-column: span 6

	.footer__logo
		width: 80px

@media (max-width: 680px)
	.article__img
		img
			height: 500px

	.footer__logo
		display: none

	.footer-nav, .footer-social
		width: 100%
		position: static
		&__list
			justify-content: center

	.footer-social
		margin-bottom: 30px

@media (max-width: 575px)
	.article__img
		img
			height: 300px

	.header-nav
		padding: 75px 40px 40px
		li + li
			margin-top: 20px

	.footer
		display: flex

	.footer-nav, .footer-social
		width: 50%
		li + li
			margin-left: 0

	.footer-nav__list
		flex-direction: column
		align-items: flex-end
		li + li
			margin-top: 20px

	.footer-social
		margin-bottom: 0
		&__list
			justify-content: flex-start
			li
				width: 33.33333%
				margin: 20px 0

	.title
		font-size: 30px

	.reset
		display: none

	.popup
		width: 400px
		&__content
			padding: 50px 30px 35px
		&__subtitle
			display: none

@media (max-width: 450px)
	.header__logo
		width: 80px

	.popup
		width: 350px
		&__content
			padding: 35px 20px

	.form
		&__label
			font-size: 16px
		&__input, &__textarea
			padding: 15px 10px
			font-size: 14px
		&__textarea
			height: 150px

@media (max-width: 375px)
	.news-item__info
		padding: 12px

	.title
		font-size: 28px
		line-height: 32px

	.footer-social__list
		li
			width: 50%
			margin: 15px 0

	.article
		&__info
			justify-content: center
		&__stats
			margin-right: 0
		&__date
			width: 100%
			text-align: center
			margin-top: 20px

	.popup
		width: 300px

	.contact__info
		margin-bottom: 20px

	.form
		&__group
			margin-bottom: 20px
		&__input, &__textarea
			padding: 10px

	.tab
		font-size: 15px
		padding: 15px 10px

@media (max-height: 920px)
	.popup-add-news, .popup-change
		.form__group
			margin-bottom: 14px

@media (max-height: 890px)
	.popup-add-news, .popup-change
		.popup__content
			padding-top: 50px
		.form__group
			margin-bottom: 20px
		.form__label
			display: none

@media (max-height: 700px)
	.popup-add-news, .popup-change
		.popup__content
			padding-bottom: 20px
		.form__input, .form__textarea
			padding: 9px

@media (max-height: 650px)
	.popup-add-news, .popup-change
		.popup__content
			padding: 50px 25px 15px
		.form__group
			margin-bottom: 15px
		.form__input, .form__textarea
			padding: 9px
		.form__textarea
			height: 90px